<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>New Category</title>
  </head>
  <body>
    <h1>Add a Category</h1>
    <form action="new" method="POST">
      <input name="name" type="text">

      <input name="description" type="text">

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
